*
{
    margin: 0;
    padding: 0;
}

body
{
    background-image: url(img/17010.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
}


header
{
    height: 120px;
    background-color: rgb(18, 114, 114);
    color: aliceblue;
}


@font-face {
    font-family: fantasy;
    src: url(fonts/Catalish\ Huntera.ttf);
}

@font-face {
    font-family: fantasy;
    src: url(fonts/Catalish\ Huntera.ttf);
}

.a
{
    float: right;
    position: absolute;
    top: 20px;
    left: 150px;
    font-family: fantasy;
}

#Inicio
{
    float: right;
    width: 70%;
    height: auto;
    backdrop-filter: blur(2px);
    border-radius: 4px;
    background-color: rgb(34, 211, 211);
}

#a
{
    height: 10000px;
}

.html
{
    align-self: auto;
}

.css
{
    align-self: auto;
}

.JS
{
    align-self: auto;
}

.container-2
{
    margin-top: auto;
    margin-left: auto;
    padding: 0;
    text-align: center;
    color: rgb(18, 114, 114);
    font: 1em sans-serif;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(18, 114, 114);
}

li
{
    float: left;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover
{
    background-color: rgb(0, 140, 255);
}